.wrapper {
  margin-top: 37px;
}

.checkboxRect {
  display: flex;
  margin-bottom: 15px;
}

.checkboxRect input[type='checkbox'] {
  display: none;
}

.checkboxRect input[type='checkbox'] + label {
  display: flex;
  align-items: center;
  position: relative;
  height: 30px;
  margin-left: 63px;
  color: #151515;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.checkboxRect input[type='checkbox'] + label:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #bbb;
  position: absolute;
  left: -63px;
  top: 0;
  -webkit-transition: all 0.2s, background 0.2s ease-in-out;
  transition: all 0.2s, background 0.2s ease-in-out;
  background: 'transperent';
}

.checkboxRect input[type='checkbox']:checked + label:before {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 3px solid white;
  background: black;
  box-shadow: 0 0 0 1px #000;
}
