ErrorDocument 403 /404.html
ErrorDocument 404 /404.html

DirectoryIndex page27169578.html

RewriteEngine On

RewriteCond %{HTTP:X-Forwarded-Proto} =http
RewriteRule ^(.*)$ https://sammy\.expert/$1 [R=301,L]

RewriteCond %{HTTP:X-Forwarded-Proto} =https
RewriteCond %{HTTP_HOST} ^www\.sammy.expert [NC]
RewriteRule ^(.*)$ https://sammy\.expert/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} /robots.txt
RewriteCond "%{DOCUMENT_ROOT}/robots_%{HTTP_HOST}.txt" -f
RewriteRule ^(.*)$ robots_%{HTTP_HOST}.txt [NC,L]
RewriteRule ^new$ page26524122.html [NC]
RewriteRule ^new/$ page26524122.html [NC]

RewriteRule ^main$ page27169578.html [NC]
RewriteRule ^main/$ page27169578.html [NC]

RewriteRule ^privacy-policy$ page27364750.html [NC]
RewriteRule ^privacy-policy/$ page27364750.html [NC]

RewriteRule ^terms-of-use$ page27367924.html [NC]
RewriteRule ^terms-of-use/$ page27367924.html [NC]


